<footer id="footer">
  <div class="container">
    <p class="muted credit pull-left"> Copyright &copy; <script>document.write(new Date().getYear() + 1900);</script> - <a href="/legal">Legal</a></p>
    <div class="social-container pull-right">
      <a href="https://www.facebook.com/ChangerBV" target="blank" class="icon-social icon-facebook"></a>
      <a href="https://twitter.com/Changer" target="blank" class="icon-social icon-twitter"></a>
      <a href="http://www.linkedin.com/company/1887636" target="blank" class="icon-social icon-linkedin"></a>
      <a href="https://www.youtube.com/changerbv" target="blank" class="icon-social icon-youtube"></a>
    </div>
  </div>
</footer>
