<header id="header">
  <div class="row">
    <div class="span4">
      <a href="/" title="changer" class="logo">
        <img src="/public/img/logo.png" />
      </a>
    </div>
    <div class="span8 pull-right">
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/team.html">About</a></li>
        <li><a href="/products.html">Products</a></li>
        <li><a href="/contact.html">Contact</a></li>
        <li><a href="http://cp.changer.nl" target="_blank">Blog</a></li>
        <li><a href="http://www.changer.nl/devlog/" target="_blank">Devlog</a></li>
      </ul>
    </div>
  </div>
</header>
