<div class="job-wrap">
  <div class="container">
    <h5>WE'RE HIRING</h5>
    <h2>Sales professionals Changer Safety Apps</h2>
    <button type="button" class="btn" data-toggle="collapse" data-target="#job-details">
      Read more
    </button>
    <div id="job-details" class="collapse">
      <div class="row row-job-details">
        <div class="span8 offset2">
          <p>We're building a self-igniting sales & marketing team for our Safety Applications. <br><strong>Keywords: ambition, customer focus, innovative and proud of Changer</strong> </p>Do you want to continuously improve yourself? Do you have an entrepreneurial sales sense? Are you spirited and enthusiastic? Do you have knowledge on the job?
          Have a look around and contact me at <a href="mailto:jonathan.stolk@changer.nl">jonathan.stolk@changer.nl</a> or <strong>+31 6 26906502</strong> if you like what you see.
        </div>
      </div>
    </div>
  </div>
</div>
