<div class="alert-wrap">
  <div class="container">
    <h5>WE'VE MOVED!!!</h5>
    <h2>We've relocated our Dutch office to Delft</h2>
    <button type="button" class="btn" data-toggle="collapse" data-target="#moved">Read</button>
    <div id="moved" class="collapse">
      <div class="row">
        <div class="span8 offset2">
          <p>Please come and check out our new office in Delft
          <br /><strong>Maerten Trompstraat 25, 2628 RC (<a href="http://goo.gl/k1p37G" target="_blank">See Map</a>).</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
