<div class="surveyapp-wrap">
    <div class="container">
        <div class="row">
            <div class="span5 surveyapp-banner-header">
                <span class="surveyapp-introduction">We're proud to present</span>
                <h2 class="pageheader">GetSurveyApp Breeze</h2>
                <div class="description">More functionality, same simplicity.
                </div>
                <a href="http://getsurveyapp.com" class="btn btn-success btn-large" target="blank">Check it out</a>
            </div>
            <div class="span7">
                <img id="surveyapp-banner-img" src="../public/img/surveyapp-banner.png">
            </div>
        </div>
    </div>
</div>
